:root {
  --main-color: #10cab7;
  --transition-time: .3s;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Start Header */
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 60px;
}
.header .links {
  position: relative;
  transition: var(--transition-time);
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-end;
}
.header .links .icon span {
  width: 30px;
  margin-bottom: 5px;
  height: 2px;
  background-color: black;
}
.header .links .icon span:first-child {
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  transition: var(--transition-time);
  width: 60%;
}
.header .links .icon:hover span:nth-child(2),
.header .links .icon:hover span:nth-child(2) {
  width: 100%;
}
.header .links .icon span:last-child {
  width: 100%;
}
.header .links ul {
  background: #eee;
  position: absolute;
  right: 0;
  margin: 0;
  padding: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  list-style: none;
  display: none;
  z-index: 1600;
}
.header .links:hover ul {
  display: block;
}
.header .links ul:before {
  content: '';
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #eee transparent;
  position: absolute;
  top: -20px;
  right: 5px;
}
.header .links ul li {
  padding: 20px;
  user-select: none;
}
.header .links ul a {
  padding: 20px;
  margin-bottom: 5px;
  text-decoration: none;
  transition: var(--transition-time);
  font-weight: 300;
  color: #000;
}
.header .links ul li a:hover {
  padding-left: 25px;
  color: var(--main-color);
}
.header .links ul li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
/* End Header */

 /* Start Landing */
.landing {
  background-image: url(../images/landing.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
  margin: 0;
}
.landing .intro-text {
  text-align: center;
  width: 320px;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.landing .intro-text h1 {
  margin: 0;
  font-size: 50px;
  color: var(--main-color);
  font-weight: bold;
}
.landing .intro-text p {
  font-size: 19px;
  line-height: 1.9;
}
 /* End Landing */